.card {
  width: 300px;
  height: fit-content;
  background-color: #151414;
  color: white;
  padding: 0 15px 15px 15px;
  text-align: justify;
  font-family: "Netflix Sans";
  font-size: large;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 50px;
  margin: 0;
  text-shadow: #fffefe;
}

.card img {
  width: 99%;
  border-radius: 30px;
}
