.navbar {
  top: 0;
  background-color: transparent;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid #222;
  margin: 0 auto;
}

.navbar a {
  color: white;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #e50914;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: rgb(254, 0, 0);
  gap: 20px;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

.menu li {
  cursor: pointer;
  padding: 0.5rem 0;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
  color: white;
}

.menu li.active {
  border-bottom-color: white;
}

.menu li:hover {
  opacity: 0.8;
}
